<nav class="top-bar">
<ul>
  <!-- Title Area -->
  <li class="name">
    <h1>
      <a {{action goHome}}>
        <img src="images/logo.png" height="40" width="40">
        Goku Collector
      </a>
    </h1>
  </li>
</ul>
<section>
  <!-- Right Nav Section -->
  <ul class="right">
    <li class="divider"></li>
    <li class="add">
      <a {{action new}}>+</a>
    </li>
  </ul>
</section>
</nav>

<div class="row">
  <div class="twelve columns">
    <ul>
      {{#each collection in content}}
        <li><a {{action show collection}}>{{collection.name}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>