<nav class="top-bar">
<ul>
  <!-- Title Area -->
  <li class="name">
    <h1>
      {{#linkTo index}}
        <img src="images/logo.png" height="40" width="40">
        Goku Collector
      {{/linkTo}}
    </h1>
  </li>
</ul>

<section>
  <!-- Right Nav Section -->
  <ul class="right">
    <li class="divider"></li>
    <li class="add">
      {{#linkTo newCollection}}<i class="icon-plus"></i>{{/linkTo}}
    </li>
  </ul>
</section>
</nav>

<div class="row">
  <div class="twelve columns">
    <ul>
      {{#each collection in content}}
        <li>{{#linkTo "collection" collection}}{{collection.name}}{{/linkTo}}</li>
      {{/each}}
    </ul>
  </div>
</div>