<nav class="top-bar">
<ul>
  <!-- Title Area -->
  <li class="name">
    <h1>
      {{#linkTo index}}
        <img src="images/logo.png" height="40" width="40">
        {{name}}
      {{/linkTo}}
    </h1>
  </li>
</ul>
<section>
  <!-- Right Nav Section -->
  <ul class="right">
    <li class="divider"></li>
    <li class="add">
      {{#linkTo editCollection content}}
        <i class="icon-pencil"></i>
      {{/linkTo}}
    </li>
    <li class="divider"></li>
    <li class="add">
      <a href="#"><i class="icon-plus"></i></a>
    </li>
  </ul>
</section>
</nav>

<div class="row">
  <div class="twelve columns">
    <h1>{{id}}</h1>
  </div>
</div>
