<nav class="top-bar">

<ul>
  <!-- Title Area -->
  <li class="name">
    <h1>
      <a href="#">
        {{title}}
      </a>
    </h1>
  </li>
</ul>

<section>
  <!-- Right Nav Section -->
  <ul class="right">
    <li class="divider"></li>
    <li class="add">
      <a href="#">+</a>
    </li>
  </ul>
</section>

</nav>
